body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  background: #2f3336;
  background: #369; }

img {
  padding: 0;
  margin: 0; }

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }
  #loading .inner {
    width: 70px;
    height: 70px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#cacheStatus {
  position: absolute;
  cursor: default;
  display: none;
  top: 0;
  right: 0;
  z-index: 101;
  background: #26609f;
  color: white;
  padding: 5px;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black; }
  #cacheStatus span {
    margin: 0 5px; }
  #cacheStatus img {
    margin-top: 0;
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px; }

.component {
  position: absolute;
  left: 0;
  top: 0; }
  .component.page {
    background-color: #4040e0; }
  .component.interface {
    background-color: rgba(0, 0, 0, 0.2); }

.component.disabled {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity="50")';
  filter: alpha(opacity=50);
  opacity: 0.5; }

.component.comp_button {
    /*

    "default",
    "light",
    "stable",
    "positive",
    "calm",
    "balanced",
    "energized",
    "assertive",
    "royal",
    "dark"

    &.g, &.green { @include button-1(#84db24,#4f9316,#135915); }
    &.y, &.yellow, &.highlight { @include button-1(#f4ed00,#ddc700,#b17300); } // highlight: y
    &.r, &.red, &.alert { @include button-1(#dd006a,#97003f,#5e0041); } // alert: r, ex.logout
    &.gr, &.gray, &.default2 { @include button-1(#c0c0d9,#73738d,#48486a); } // default2: gr
    &.lgr, &.default3 { @include button-1(#f5f7f7,#e0e5e6,#adb2b3); } // default3: lgr, ex.slider cursors
    &.glass { @include button-g(rgb(255,255,255),rgb(225,232,232),rgb(200,207,207),rgb(171,177,177),rgb(215,224,224)); }
    &.transparent { @include button-t(rgb(255,255,255)); }
    */ }
  .component.comp_button .container {
    color: #fff; }
    .component.comp_button .container .cIcon .comp_image svg,
    .component.comp_button .container .cIcon .comp_image svg path {
      fill: white; }
    .component.comp_button .container.style_default {
      -webkit-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px;
      -moz-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px;
      box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      border-top: 1px solid #2090ff;
      background-color: #003889;
      background-image: -webkit-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: -moz-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: -o-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: -ms-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: linear-gradient(top, #00439e 0%,#002c73 100%); }
      .component.comp_button .container.style_default.over {
        border-top: 1px solid #40b0ff;
        background-color: #2058a9;
        background-image: -webkit-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: -moz-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: -o-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: -ms-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: linear-gradient(top, #2063be 0%,#204c93 100%); }
      .component.comp_button .container.style_default.down {
        border-top: 1px solid #002c73;
        background: #204c93; }
      .component.comp_button .container.style_default.selected {
        background-color: #4078c9;
        background-image: -webkit-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: -moz-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: -o-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: -ms-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: linear-gradient(top, #4083de 0%,#406cb3 100%); }
      .component.comp_button .container.style_default.color_stable {
        border-top: 1px solid #c0c0d9;
        background-color: #5e5e7c;
        background-image: -webkit-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: -moz-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: -o-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: -ms-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: linear-gradient(top, #73738d 0%,#48486a 100%); }
        .component.comp_button .container.style_default.color_stable.over {
          border-top: 1px solid #e0e0f9;
          background-color: #7e7e9c;
          background-image: -webkit-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: -moz-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: -o-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: -ms-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: linear-gradient(top, #9393ad 0%,#68688a 100%); }
        .component.comp_button .container.style_default.color_stable.down {
          border-top: 1px solid #48486a;
          background: #68688a; }
        .component.comp_button .container.style_default.color_stable.selected {
          background-color: #9e9ebc;
          background-image: -webkit-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: -moz-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: -o-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: -ms-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: linear-gradient(top, #b3b3cd 0%,#8888aa 100%); }
      .component.comp_button .container.style_default .cLabel {
        text-shadow: 0 1px rgba(0, 0, 0, 0.6); }
      .component.comp_button .container.style_default.switch.pressed {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
      .component.comp_button .container.style_default.down {
        -webkit-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7);
        -moz-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7);
        box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7); }
      .component.comp_button .container.style_default.error {
        color: #e03050; }
    .component.comp_button .container.style_clear .cLabel {
      text-shadow: 0 1px rgba(0, 0, 0, 0.6); }

.component.comp_input.focused .container.style_default {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
.component.comp_input.focused .container.style_clear {
  -webkit-box-shadow: inset 0px 12px 7px -11px rgba(255,255,255,0.5), inset 0px -12px 7px -11px rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0px 12px 7px -11px rgba(255,255,255,0.5), inset 0px -12px 7px -11px rgba(255,255,255,0.5);
  box-shadow: inset 0px 12px 7px -11px rgba(255,255,255,0.5), inset 0px -12px 7px -11px rgba(255,255,255,0.5); }
.component.comp_input .container.style_default {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .component.comp_input .container.style_default .icon {
    padding-left: 4px; }
  .component.comp_input .container.style_default .field {
    color: black; }
  .component.comp_input .container.style_default::after {
    -webkit-box-shadow: inset 0px 0px 5px 1px red;
    -moz-box-shadow: inset 0px 0px 5px 1px red;
    box-shadow: inset 0px 0px 5px 1px red; }
.component.comp_input .container.style_clear {
  background: transparent;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .component.comp_input .container.style_clear .field {
    color: white; }
  .component.comp_input .container.style_clear svg,
  .component.comp_input .container.style_clear svg path {
    fill: white; }
  .component.comp_input .container.style_clear::after {
    -webkit-box-shadow: inset 0px 12px 7px -11px rgba(255,0,0,0.5), inset 0px -12px 7px -11px rgba(255,0,0,0.5);
    -moz-box-shadow: inset 0px 12px 7px -11px rgba(255,0,0,0.5), inset 0px -12px 7px -11px rgba(255,0,0,0.5);
    box-shadow: inset 0px 12px 7px -11px rgba(255,0,0,0.5), inset 0px -12px 7px -11px rgba(255,0,0,0.5); }
.component.comp_input .container.style_strict .edit {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.component.comp_input .container.style_strict .field {
  color: black; }
.component.comp_input .container.style_strict::after {
  -webkit-box-shadow: inset 0px 12px 7px -11px rgba(255,0,0,0.5), inset 0px -12px 7px -11px rgba(255,0,0,0.5);
  -moz-box-shadow: inset 0px 12px 7px -11px rgba(255,0,0,0.5), inset 0px -12px 7px -11px rgba(255,0,0,0.5);
  box-shadow: inset 0px 12px 7px -11px rgba(255,0,0,0.5), inset 0px -12px 7px -11px rgba(255,0,0,0.5); }
.component.comp_input .erase.over svg,
.component.comp_input .erase.over svg path {
  fill: #f01010; }
.component.comp_input .erase.down svg,
.component.comp_input .erase.down svg path {
  fill: #551010; }

.component.comp_slider .bg .in,
.component.comp_slider .bar .in {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }
.component.comp_slider .bg .in {
  -webkit-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
.component.comp_slider .ghost {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }

.component.comp_list .content {
  color: #fff; }
  .component.comp_list .content .item .container {
    color: #fff; }
    .component.comp_list .content .item .container .cIcon .comp_image svg,
    .component.comp_list .content .item .container .cIcon .comp_image svg path {
      fill: white; }
    .component.comp_list .content .item .container.style_default {
      -webkit-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px;
      -moz-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px;
      box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      border-top: 1px solid #2090ff;
      background-color: #003889;
      background-image: -webkit-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: -moz-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: -o-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: -ms-linear-gradient(top, #00439e 0%,#002c73 100%);
      background-image: linear-gradient(top, #00439e 0%,#002c73 100%); }
      .component.comp_list .content .item .container.style_default.over {
        border-top: 1px solid #40b0ff;
        background-color: #2058a9;
        background-image: -webkit-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: -moz-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: -o-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: -ms-linear-gradient(top, #2063be 0%,#204c93 100%);
        background-image: linear-gradient(top, #2063be 0%,#204c93 100%); }
      .component.comp_list .content .item .container.style_default.down {
        border-top: 1px solid #002c73;
        background: #204c93; }
      .component.comp_list .content .item .container.style_default.selected {
        background-color: #4078c9;
        background-image: -webkit-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: -moz-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: -o-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: -ms-linear-gradient(top, #4083de 0%,#406cb3 100%);
        background-image: linear-gradient(top, #4083de 0%,#406cb3 100%); }
      .component.comp_list .content .item .container.style_default.color_stable {
        border-top: 1px solid #c0c0d9;
        background-color: #5e5e7c;
        background-image: -webkit-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: -moz-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: -o-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: -ms-linear-gradient(top, #73738d 0%,#48486a 100%);
        background-image: linear-gradient(top, #73738d 0%,#48486a 100%); }
        .component.comp_list .content .item .container.style_default.color_stable.over {
          border-top: 1px solid #e0e0f9;
          background-color: #7e7e9c;
          background-image: -webkit-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: -moz-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: -o-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: -ms-linear-gradient(top, #9393ad 0%,#68688a 100%);
          background-image: linear-gradient(top, #9393ad 0%,#68688a 100%); }
        .component.comp_list .content .item .container.style_default.color_stable.down {
          border-top: 1px solid #48486a;
          background: #68688a; }
        .component.comp_list .content .item .container.style_default.color_stable.selected {
          background-color: #9e9ebc;
          background-image: -webkit-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: -moz-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: -o-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: -ms-linear-gradient(top, #b3b3cd 0%,#8888aa 100%);
          background-image: linear-gradient(top, #b3b3cd 0%,#8888aa 100%); }
      .component.comp_list .content .item .container.style_default .cLabel {
        text-shadow: 0 1px rgba(0, 0, 0, 0.6); }
      .component.comp_list .content .item .container.style_default.switch.pressed {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
      .component.comp_list .content .item .container.style_default.down {
        -webkit-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7);
        -moz-box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7);
        box-shadow: rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7); }
      .component.comp_list .content .item .container.style_default.error {
        color: #e03050; }

/*# sourceMappingURL=default.css.map */
