@import "../../css/_common.scss";
.component.comp_select {
    @include sizing(border-box);
    height: auto;
    &.focused {
        z-index: 1000;
        .container {
            &.style_default {
                @include shadow(0px 0px 15px 0px rgba(0,0,0,0.75));
            }
            &.style_clear {

                //@include shadow("0px 14px 14px -10px rgba(255,255,255,0.5), 0px -14px 14px -10px rgba(255,255,255,0.5)");
                @include shadow("inset 0px 12px 7px -11px rgba(255,255,255,0.5), inset 0px -12px 7px -11px rgba(255,255,255,0.5)");
            }
        }
    }
    .container {
        @include sizing(border-box);
        display: table;
        width: 100%;
        select {
            padding: 9px 0 10px 4px;
        }
        &.style_default {
            background: white;
            @include border-radius(4px);
            .icon {
                padding-left: 4px;
            }
            .field {
                color: black;
            }
            input {
                padding: 0 4px;
            }
            .erase {
                padding-right: 4px;
            }
        }
        &.style_clear {
            background: transparent;
            .field {
                color: white;
            }
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            svg,
            svg path {
                fill: white;
            }
        }
        &.style_strict {
            .edit {
                background: white;
                @include border-radius(4px);
                padding: 0 4px;
            }
            .field {
                color: black;
            }
            .erase {

            }
        }
    }
    &:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
    .icon {
        display: table-cell;
        vertical-align: middle;
        min-width: 2px;
        width: 20px;
        height: 100%; //20px;
        @include sizing(border-box);
        padding-right: 4px;
    }
    .edit {
        display: table-cell;
        vertical-align: middle;
        min-width: 2px;
        width: 100%;
        height: 100%; //20px;
        @include sizing(border-box);
    }
    .field {
        @include sizing(border-box);
        width: 100%;
        overflow: auto;
        border: none;
        background: none;
        -webkit-appearance: none;
        -webkit-writing-mode: horizontal-tb;
    }
    .erase {
        display: table-cell;
        vertical-align: middle;
        padding-left: 4px;
        color: red;
        width: 10px;
        min-width: 2px;
        height: 100%; //20px;
        @include sizing(border-box);
        &.over {
            svg,
            svg path {
                fill: #f01010;
            }
        }
        &.down {
            svg,
            svg path {
                fill: #551010;
            }
        }
    }
}
