/logs/
/data/
/config/**
/webapp/**
/scripts/
/plugins/

/src/main/resources/webapp/manager/test

.settings/
.project
.classpath

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.metadata

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lck
/bin/

src/main/webapp/node_modules
src/main/webapp/tasks