<div class="component checkbox" data-controller="Checkbox" data-nogestures="true">
    <div name="container" class="container">
        <div class="button" name="button">
            <div class="inner" name="inner">
                <!--sml
                <image id="icon" source="icons/0273-checkmark.svg" position="static" />
                -->
                <div class="flag"></div>
            </div>
        </div>
        <div class="label" name="label">
        <!--sml
        <label id="label" position="static" />
        -->
        </div>
    </div>
</div>
