@import "../../css/_common.scss";
.component.comp_slider {
    .container {
        width: 100%;
        height: 100%;
    }

    // active bar
    // background
    .bg,
    .bar {
        position: absolute;
        width: 100%;
        height: 100%;
        @include sizing("border-box");
        .in {
            width: 100%;
            height: 100%;
            @include sizing("border-box");
        }
    }
    .bg {
        .in {
        }
    }
    .bar .in {
        overflow: hidden;
        padding:1px;
        .fill {
            height: 100%;
            width: 100%;
        }
    }
    .vertical {
        .bg,
        .bar {
            padding: 0 7px;
        }
    }
    .horizontal {
        .bg,
        .bar {
            padding: 7px 0;
        }
    }

    // ghost
    .ghost {
        position: absolute;
    }
    .over {
        position: absolute;
        width: 100%;
        height: 100%;
    }

}
