@import "../../css/_common.scss";
$buttonBorderRadius: 2px;

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background: #2f3336;
    background: #369;
}
img {
    padding: 0;
    margin: 0;
}
#loading {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.7);
    text-align: center;
    .inner {
        width:70px;
        height:70px;
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
    }
}
#cacheStatus {
    position: absolute;
    cursor: default;
    display: none;
    top: 0;
    right: 0;
    z-index: 101;
    background: #26609f;
    color: white;
    padding: 5px;
    @include border-radius(0 0 0 4px);
    @include shadow(0px 0px 5px 0px black);
    span {
        margin: 0 5px;
    }
    img {
        margin-top: 0;
        position: relative;
        top: 3px;
        width: 20px;
        height: 20px;
    }
}
.component {
    position: absolute;
    left: 0;
    top: 0;
    &.page {
        background-color: #4040e0;
    }
    &.interface {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
.component.disabled {
    @include opacity(50);
}

.component.comp_page {
	width:100%;
	height:100%;
}

.component.comp_button {
    .container {
        color: #fff;
        .cIcon {
            .comp_image {
                svg,
                svg path {
                    fill: white;
                }
            }
        }

        // styles
        &.style_default {
            @include border-radius($buttonBorderRadius);
            @include button-material(#2090ff);

            &.color_stable, &.color_gray {
                @include button-material(#73738d);
            }
            &.color_positive, &.color_blue {
                @include button-material(#00439e);
            }
            &.color_balanced, &.color_green {
                @include button-material(#4f9316);
            }
            &.color_energized, &.color_yellow {
                @include button-material(#ddc700);
            }
            &.color_assertive, &.color_red {
                 @include button-material(#97003f);
            }

            .cLabel {
                text-shadow: 0 1px rgba(0,0,0,0.6);
            }
            &.switch.pressed {
//                @include shadow("none");
            }
            &.down {

            }
            &.error {
                color: #e03050;
            }
        }
        &.style_icon {
        }
        &.style_clear {
            .cLabel {
                text-shadow: 0 1px rgba(0,0,0,0.6);
            }
        }
    }

}

.component.comp_input {
    &.focused {
        .container {
            &.style_default {
                border-bottom: 1px solid #2090ff;
            }
            &.style_classic {
                @include shadow(0px 0px 15px 0px rgba(0,0,0,0.75));
            }
        }
    }
    .container {
        &.style_default {
            background: transparent;
            .field {
                color: white !important;
            }
            border-bottom: 2px solid rgba(0,0,0,0.5);
            svg,
            svg path {
                fill: white;
            }
            &::after {
            }
        }
        &.style_classic {
            background: white;
        }
    }
}

// Select
.component.comp_select {
    .container {
        select {
            padding: 9px 0 10px 4px;
        }
        &.style_default {
            @include border-radius(0 !important);
            background: transparent;
            .field {
                color: white !important;
            }
            border-bottom: 2px solid rgba(0,0,0,0.5);
            svg,
            svg path {
                fill: white;
            }
            &::after {
            }
        }
        &.style_classic {
            .icon {
                padding-left: 4px;
            }
            .field {
                color: black;
            }
            input {
                padding: 0 4px;
            }
            .erase {
                padding-right: 4px;
            }
        }
    }
    &:focus {
        outline: none;
    }
    .icon {
    }
    .edit {
    }
    .field {
        border: none;
        background: none;
    }
    .erase {
        color: red;
        &.over {
            svg,
            svg path {
            }
        }
        &.down {
            svg,
            svg path {
            }
        }
    }
}

.component.comp_slider {
    .container {
    }

    // active bar
    // background
    .bg,
    .bar {
        position:absolute;
        left:0px;
        top:0px;
        padding: 0 !important;
        margin:0;
        .in {
            position:relative;
            padding:0 !important;
            margin:auto;
            @include border-radius($buttonBorderRadius);
            background:none;
        }
    }

    .bar .in {
        background-color: rgba(0,0,0,0.5);
    }

    .vertical {
        .bg, .bar {
            left:50%;
            width:auto;
            .in {
                left:-1px;
                width:2px;
            }
        }
    }
    .horizontal {
        .bg, .bar {
            top:50%;
            height:auto;
            .in {
                top:-1px;
                height:2px;
            }
        }
    }
    .component.comp_button {
        @include sizing(border-box);
        width:10px;
        height:10px;
        .container {
            position: static !important;
            @include border-radius(1000px);
            &::after {
                @include border-radius(1000px);
            }
        }
    }

    // ghost
    .ghost {
        @include border-radius($buttonBorderRadius);
    }
    .over {
    }

}

// Checkbox
.component.comp_checkbox {
    &.focused {
        .container {
            &.style_default, &.style_radio, &.style_switch {
                .button {
                    @include shadow(0px 0px 0px 5px rgba(255,255,255,0.1));
                }
            }
        }
    }

    .container {
        &.style_default {
            .button {
                border:2px solid rgba(0,0,0,0.5);
                @include border-radius(4px);
            }
            &.on {
                .button {
                    border:2px solid #2090ff;
                }
                svg,
                svg path {
                    fill: #2090ff;
                }
            }
        }

        &.style_switch {
            .button {
                border:2px solid rgba(0,0,0,0.5);
                background: transparent;
                @include border-radius(16px);
                @include sizing(border-box);
                .inner {
                    .flag {
                        //height: 150% !important;
                        //top: -25% !important;
                    }
                    .flag:after {
                        background: rgba(0,0,0,0.5);
                        @include border-radius(28px);
                        @include shadow(0 1px 2px rgba(0,0,0,0.4));
                    }
                }
            }
            &.on {
                .button {
                    border:2px solid #2090ff;
                    .inner .flag:after {
                        background: #2090ff !important; // #4cd964
                    }
                }
            }

        }

        &.style_clear {
            .button {
                border:2px solid rgba(0,0,0,0.5);
                background: transparent;
                @include border-radius(16px);
                @include sizing(border-box);
            }
            .button .inner {
                .flag:after {
                    background: rgba(0,0,0,0.5);
                    @include border-radius(28px);
                    @include shadow(0 1px 2px rgba(0,0,0,0.4));
                }
            }
            &.on .button .inner {
                .flag:after {
                    background: #2090ff !important; // #4cd964
                }
            }
        }
    }
}

.component.comp_radio {
    &.focused {
        .container {
            &.style_default {
                .button {
                    @include shadow(0px 0px 0px 5px rgba(255,255,255,0.1));
                    //border:2px solid #2090ff;
                }
                .flag {
                    //background: #2090ff;
                }
            }
        }
    }
    .container {
        &.style_default {
            .button {
                padding: 5px;
                @include border-radius(700px);
                border:2px solid rgba(0,0,0,0.5);
            }
            .inner .comp_image {
                display: none;
            }
            .flag {
                background: black;
                @include border-radius(700px);
            }

            &.on {
                .button {
                    border:2px solid #2090ff;
                }
                .flag {
                    background: #2090ff;
                }
            }

            &.off .flag {
                display:none;
            }
        }
    }
}

// List
.component.comp_list {
    .content {
        color: #fff;
        &.disabled {
        }
        .item {
            &.disabled {
            }
            .container {
                color: #fff;
                .cIcon {
                    .comp_image {
                        &,
                        svg {
                        }
                        svg,
                        svg path {
                            fill: white;
                        }
                    }
                }
                .cLabel {
                }
                // styles
                &.style_default {
                    @include shadow("rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px");
                    @include border-radius($buttonBorderRadius);
                    @include button-material(#2090ff);

                    margin-bottom:1px;

                    &::after {
                        width:0;
                        height:0;
                    }

                    .cIcon {
                    }
                    .cLabel {
                        text-shadow: 0 1px rgba(0,0,0,0.6);
                    }
                    &.over {

                    }
                    &.switch.pressed {
                        @include shadow("none");
                    }
                    &.down {
                        @include shadow("rgba(0,0,0,0.8) 0 1px 0, rgba(0,0,0,0.4) 0px 0px 1px 1px, inset 0px 1px 4px rgba(0,0,0,0.7)");
                    }
                    &.error {
                        color: #e03050;
                    }
                }
            }
        }
    }
}
