<div class="component input" data-controller="Input" data-nogestures="true">
    <div name="container" class="container">
        <div class="icon" name="icon">
        <!--sml
        <image id="icon" source="" width="20" height="auto" position="static" />
        -->
        </div>
        <div class="edit">
            <input class="field" name="field">
        </div>
        <div class="erase" name="erase">
        <!--sml
        <image id="erase" source="icons/0272-cross.svg" width="12" height="auto" position="static" />
        -->
        </div>
    </div>
</div>
