<div class="component comp_slider" data-controller="Slider" data-nogestures="true">
    <div name="container" class="container vertical">
        <div class="bar">
            <div class="in">
                <div class="fill" name="fill">
                </div>
            </div>
        </div>
		<div class="bg" name="bar">
            <div class="in" name="bar_in"></div>
        </div>
		<div name="ghost" class="ghost"></div>

        <!--sml
        <button id="cursor" />
        -->

        <div class="over" name="over"></div>
    </div>
</div>
