@import "../../css/_common.scss";
.component.comp_radio {
    @include sizing(border-box);
    height: auto;
    &.focused {
        z-index: 1000;
        .container {
            &.style_default {
                .button {
                }
            }
        }
    }
    .container {
        @include sizing(border-box);
        display: table;
        .button .inner,
        .button .inner .comp_image {
            width: 100%;
            height: 100%;
        }
        .label {
            @include sizing(border-box);
            display: table-cell;
            vertical-align: middle;
            min-width: 2px;
            padding-left: 7px;
            white-space: nowrap;
        }
        &.style_default {
            .button {
                @include sizing(border-box);
                padding: 5px;
            }
            .inner .comp_image {
                display: none;
            }
            .flag {
                width:100%;
                height:100%;
            }

            &.off .flag {
                display:none;
            }
        }

    }
}
