<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %logger{1.} - %msg%n" />
		</Console>

		<File name="Terminal" fileName="logs/terminal.log">
			<PatternLayout
				pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %logger{1.} - %msg%n}{STYLE=Logback}" />
		</File>

		<RollingRandomAccessFile name="SferaLog"
			fileName="logs/sfera.csv" filePattern="logs/%d{yyyy}/sfera-%d{yyyy-MM-dd}-%i.csv.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS},%level,%thread,%logger,%msg%n" />
			<TimeBasedTriggeringPolicy />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="cc.sferalabs.sfera.drivers.webapp" level="debug" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="Terminal" />
		</Logger>
		<Root level="info">
			<!-- <AppenderRef ref="SferaLog" /> -->
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="Terminal" />
		</Root>
	</Loggers>
</Configuration>